div.tri-banner {
    display: block;
    margin: 20px auto auto;
    width: 100%;
}

div.tri-banner img {
    display: inline-block;
    width: 33.333%;
    max-width: 100%;
}

img.welcome-message {
    display: block;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 6px;
    max-width: 100%;
}

p.site-tagline {
    padding-bottom: 20px;
    text-align: center;
    line-height: normal;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #C00000;
}

div.split {
    display: flex;
    justify-content: space-between;
}

div.split > div {
    width: 47%;
    vertical-align: top;
    text-align: justify;
    text-justify: inter-word;
}

img.post-image, img.image{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 1px solid var(--title-color);
    box-shadow: 2px 3px 3px var(--title-color);
    border-radius: 5px;
}

img.image {
    width: auto;
    height: auto;
    max-width: 300px;
    margin: auto;
    display: block;
}

p.post-date {
    font-style: italic;
    margin-bottom: 10px;
    margin-top: -5px;
}

div.post-body {
    display: table;
    width: 100%
}

div.post-body img.post-image, div.post-body div.post-content {
    display: table-cell;
    vertical-align: top;
}

div.post-content {
    width: 100%;
}

div.post-body img.post-image {
    margin-right: 20px;
}

div.post-list {
    padding-top: 10px;
    text-align: left;
}

a.post-thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
}

a.post-thumbnail p {
    color: var(--title-color);
    font-weight: bold;
}

div.sidebar-left-wrapper {
    display: flex;
}

div.sidebar-left {
    display: inline-block;
    padding-right: 25px;
    text-align: center;
}

div.sidebar-left p {
    padding-bottom: 10px;
}

div.sidebar-left hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

div.sidebar-left img {
    padding-bottom: 10px;
}

ul.search-results li {
    display: flex;
    margin-top: 10px;
}

ul.search-results a {
    text-decoration: none;
}

ul.search-results li a.post-search-result img.post-image{
    height: 40px;
    width: 50px;
}

ul.search-results li a.post-search-result h3 {
    display: inline;
    vertical-align: top;
    margin-left: 10px;
    font-size: 1rem !important;
}

ul.search-results li a.page-search-result h3 {
    font-size: 1rem !important;
}

ul.search-results li a.page-search-result p {
    font-size: .8rem;
    font-weight: normal;
    font-style: italic;
    color: var(--font-color);
    margin-left: 10px;
}

ul.search-results li a h3 {
    text-decoration: underline;
    color: var(--title-color) !important;
}

div.main p {
    padding-bottom: 10px;
}

@media screen and (max-device-width: 600px) {
    div.split {
        display: block;
    }

    div.split > div {
        display: block;
        width: 100%;
    }

    div.sidebar-left-wrapper, div.sidebar-left {
        display: block;
    }

    p.post-date {
        text-align: center;
    }

    div.post-body {
        display: block;
    }

    div.post-body img.post-image,  div.post-body div.post-content {
        display: block;
        margin: auto auto 10px;
    }
}