div#notifications {
    position: relative;
    display: none;
    padding: 10px 12px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    text-align: left;
    box-shadow: var(--l2-shadow);
    box-sizing: border-box;
    top: 15px;
    right: 15px;
    min-width: 400px;
    max-width: 100%;
}

div#notifications.notifications-error {
    border-left: 4px solid var(--error);
}

div#notifications.notifications-notice {
    border-left: 4px solid var(--notice);
}

div#notifications div#notifications-dismiss {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    color: var(--light-gray);
    text-align: center;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    line-height: 15px;
    font-size: 1rem;
    font-weight: 600;
}

div#notifications ul li {
    list-style-type: none;
    font-size: 1rem;
}

div#notifications h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

div#main div#notifications {
    right: auto;
    top: auto;
}

table.list-table {
    width: 100%;
    box-shadow: var(--l1-shadow);
    margin-bottom: 10px;
}

table.list-table, table.list-table th, table.list-table td {
    border: 1px solid var(--wrapper-background);
    border-collapse: collapse;
    text-align: center;
}

table.list-table tbody tr th:first-child, table.list-table tbody tr th:last-child {
    width: 25px;
}

table.list-table tbody tr th {
    background-color: var(--border-color);
    color: #FFFFFF;
    font-weight: normal;
}

table.list-table tbody tr th, table.list-table tbody tr td {
    padding: 2px 5px;
}

h2.region-title {
    display: block;
    background-color: var(--wrapper-background);
    box-shadow: var(--l1-shadow);
    font-weight: bold;
    color: var(--border-color);
    padding: 2px;
    margin-top: 10px;
}

table.table-display {
    border-spacing: 20px 5px;
}

table.table-display * {
}

table.table-display tbody tr {
    vertical-align: top;
}

table.table-display tbody tr td:nth-child(2n+1) {
    font-weight: 600;
    text-align: right;
    min-width: 110px;
}

table.table-display tbody tr td:nth-child(2n) {
    min-width: 160px;
}