:root {
    --primary-color: #54A4ED;
    --secondary-color: #D3D3D3;
    --body-background: #F3F3F3;
    --border-color: #777777;
    --wrapper-background: #E3E3E3;
    --light-gray: #C3C3C3;
    --error: #DC3232;
    --notice: #FFBA00;
    --success: #39B54A;

    --l1-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --l2-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --l3-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --l4-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --l5-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: "Open Sans", Arial, sans-serif;
}

body {
    background-color: var(--body-background);
}

div#wrapper {
    margin: auto;
    min-width: 600px;
    width: 1024px;
    max-width: 100%;
    background-color: var(--wrapper-background);
    box-shadow: var(--l2-shadow);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
}

div#veil {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: .5;
    cursor: not-allowed;
    z-index: 10;
}

header div#software-name {
    color: #000000;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-top: 15px;
    padding-right: 20px;
    border-bottom: 1px solid var(--border-color);
    display: inline-block;
}

header {
    position: relative;
    display: block;
    height: 100px;
}

header div#user {
    float: right;
    text-align: right;
    padding: 5px 10px 5px 20px;
}

header div#user, header div#user * {
    text-decoration: none;
    color: #000000;
}

header div#user a {
    color: var(--error);
}

header div#user a:hover {
    text-decoration: underline;
}

header div#site-title {
    color: #777;
    text-transform: uppercase;
    margin-left: 50px;
}

header  ul#header-navigation {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

header ul#header-navigation li {
    display: inline;
}

header ul#header-navigation li a {
    color: var(--border-color);
    text-decoration: none;
    padding: 0 10px;
    border-left: 1px solid #FFFFFF;
}

header ul#header-navigation li a:hover {
    text-decoration: underline;
}

header ul#header-navigation li:first-child a {
    border-left: none;
}

div#content {
    display: flex;
    height: calc(100vh - 125px);
    flex: 1 0 auto;
}

div#content div#sidebar {
    display: inline-block;
    float: left;
    width: 180px;
    height: 100%;
    font-size: .9rem;
}

div#content div#sidebar h2 {
    margin-left: 5px;
    font-weight: normal;
    padding-bottom: 5px;
}

div#content div#sidebar ul {
    background-color: #F1F1F1;
    display: block;

    padding: 5px 7px;
}

div#content div#sidebar ul li {
    list-style-type: none;
}

div#content div#sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

div#content div#sidebar ul li a:hover {
    text-decoration: underline;
}

div#content div#sidebar ul li a::before {
    content: "> ";
    color: var(--border-color);
    vertical-align: top;
}

div#content div#main {
    display: block;
    width: 839px;
    max-width: 839px;
    background-color: #FFFFFF;
    padding: 10px;
    overflow-y: scroll;
    position: relative;
}

div#content div#main h1 {
    font-size: 1.4rem;
    border-bottom: 1px solid #888888;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: normal;
}

footer {
    display: block;
    height: 20px;
    box-sizing: border-box;
    padding: 5px;
}

footer p {
    font-size: .8rem;
    padding: 0 5px;
    color: var(--border-color);
}